@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.page-view {
	min-height: calc(100vh - 72px);
	width: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	overflow-y: auto;
	padding-bottom: 40px;
}


.under-hover {
	display: inline-block;
	position: relative;
}

.under-hover:after {
	content: '';
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #f15a22;
	transform-origin: bottom right;
	transition: transform 0.25s ease-out;
}

.under-hover:hover:after, .under-hover.force:after {
	transform: scaleX(1);
	transform-origin: bottom left;
}